.style{
    /*border: 2px solid red;*/
    width:200px;
    margin: 20px;
}
table{
    width:50%;
    border-collapse: collapse;
}
th{
    background-color: gold;
}
td{
    background-color: blue;
    color: aliceblue;
}
.raw{
    background-color: cadetblue;
}